# Dependency directories
node_modules/

# Distribution directory
dist/

# TypeScript build directory
*.tsbuildinfo
.env

# Visual Studio Code directory
.vscode/

# npm logs
npm-debug.log*

# Yarn logs
yarn-debug.log*
yarn-error.log*


# IDE and editor files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Mac OS
.DS_Store

# Windows
Thumbs.db
